.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: 350px;

  margin: 10px;
}

.image-list img {
  width: 250px;
  height: 350px;
}
.center {
  margin: 40px;
}

.button {
  background-color: initial;
  background-image: linear-gradient(-180deg, #009ffd, #2a2a72);
  border-radius: 6px;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 10px;
  padding-bottom: 10px;
  width: 150px;
}
.button:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}
/* .address {
  display: block;
  margin: auto;
  height: 30px;
  width: 330px;
  text-align: center;
} */

input[type="text"]:focus {
  background-color: transparent;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mirror2 {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 10px 0 rgba(31, 38, 135, 0.156);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 40vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button {
  margin-right: 75px;
  color: black;
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.mirror2 input {
  background: transparent;
  border: none;
  color: white;
  width: 60%;
  height: 100%;
  /* text-align: center; */
}

.address {
  background: transparent;
  color: rgb(232, 232, 232);
  padding-left: 30px;
  border: none;
}
.address textarea:focus,
input:focus {
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(248, 248, 248);
  opacity: 1; /* Firefox */
  text-align: left;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(248, 248, 248);
  text-align: left;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(248, 248, 248);
  text-align: left;
}
