.top {
  margin: 40px;
}

input[type="file"] {
  display: none;
}
.choosebox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.choose {
  background-color: initial;

  border-radius: 6px;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 6px;
  margin-right: 10px;

  /* padding-bottom: 10px; */
}
.choose:hover {
  box-shadow: rgba(217, 211, 208, 0.386) 0 3px 8px;
}
.textArea {
  color: white;
}

.upload {
  border: 1px solid #13aa52;
  background-color: #2da05d;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 6px;
  margin-left: 10px;
}

.upload:hover {
  border: 1px solid #13aa52;
  background-color: #69ac82;
  color: #ffffff;
  padding: 5px 10px;
}

.upload:disabled,
.upload[disabled] {
  border: 1px solid #99999900;
  background-color: #ffffff00;
  color: #666666;
}

div {
  padding: 5px 10px;
}

.form {
  display: flex;
  justify-content: center;
}

.mirror {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 10px 0 rgba(31, 38, 135, 0.156);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 40vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.upload-btn {
  width: 2vw;
  color: #ffffff;
}
